<div class="container-fluid">
  <% if !@from_params %>
    <h2>My Bucketlist</h2>
  <% else %>
    <h2><%= @user.username %>'s Bucketlist</h2>
  <% end %>
  <table class="table table-striped" id="yourgamelist" align="center">
    <thead>
      <tr>
        <th>Game</th>
        <th>Platforms</th>
        <th>Genre</th>
        <th>Developer</th>
        <th>User Rating</th>
        <th>Status</th>
        <% if !@from_params %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
  <% @games.each do |gamelistgame| %>
    <% game = Game.find(gamelistgame.game_id) %>
    <tbody>
      <tr>
        <td><%= game.name %></td>

        <% if !gamelistgame.platforms.nil? %>
          <td>
            <% gamelistgame.platforms.each do |platform| %>
              <span class="badge"><%= platform.abbr %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>

        <% if !game.genres.nil? %>
        <td>
          <% game.genres.each do |genre| %>
            <span class="badge"><%= genre.name %></span>
            <% end %>
        </td>
        <% else %>
        <td></td>
        <% end %>

        <% if !game.developers.nil? %>
          <td>
            <% game.developers.each do |developer| %>
              <span class="badge"><%= developer.name %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>

        <% if !@from_params %>
          <td class="five-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </td>

          <td class="game-status">
            <%= form_for gamelistgame, method: :patch do |f| %>
              <%= f.hidden_field :id %>
              <%= f.collection_radio_buttons :status, [ ['Beaten'], ['In Progress'], ['Have not Played']], :first, :first %>
            <% end %>
          </td>

          <td>
            <%= link_to "E", gamelist_path(id: game.id), method: :get, class: "btn btn-default" %>
            <%= link_to "R", gamelist_path(id: game.id), method: :delete, class: "btn btn-danger" %>
          </td>
        <% else %>
          <td class="five-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </td>

          <td class="game-status">
              <%= gamelistgame.status %>
          </td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
  </table>
  <% if user_signed_in? && !@from_params %>
  <h2>Suggested Games</h2>
  <table class="table table-striped" id="gamesuggestions" align="center">
    <% @giantbomb_suggestions.each do |game| %>
      <tr><td><%= link_to game["name"], search_path(query: game["name"]) %></td></tr>
    <% end %>
  </table>
  <% end %>
</div>
<script>
  $('input[type=radio]').on("change", function(e){
    e.preventDefault();
    var form = $(this).parent();
    $.ajax({
      type: "POST", dataType: "JSON",
      url: form.attr('action'),
      data: form.serialize()
    }).success(function(json){alert("got it");});
  });
</script>
