<script type="text/javascript">
  $("title").text("<%= @user.username %>'s Profile");
  
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= @genres.to_json.html_safe %>);

    var options = {
      title: 'Genres by Percentage',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('genrechart'));
    chart.draw(data, options);
    
    data = google.visualization.arrayToDataTable(<%= @platforms.to_json.html_safe %>);

    options = {
      title: 'Platforms by Percentage',
      pieHole: 0.4,
    };

    chart = new google.visualization.PieChart(document.getElementById('platformchart'));
    chart.draw(data, options);
    
    data = google.visualization.arrayToDataTable(<%= @developers.to_json.html_safe %>);

    options = {
      title: 'Developers by Percentage',
      pieHole: 0.4,
    };

    chart = new google.visualization.PieChart(document.getElementById('developerchart'));
    chart.draw(data, options);
    
    data = google.visualization.arrayToDataTable(<%= @status.to_json.html_safe %>);

    options = {
      title: 'Status by Percentage',
      pieHole: 0.4,
    };

    chart = new google.visualization.PieChart(document.getElementById('playedchart'));
    chart.draw(data, options);
  }
</script>
<h2><%= @user.username %>'s Profile</h2>

<h2>Stats</h2>
<div class="container-fluid">
  <div class="row">
    <div id="genrechart" style="width: 50%; height: 500px;" class="col-lg-6"></div>
    <div id="platformchart" style="width: 50%; height: 500px;" class="col-lg-6"></div>
  </div>
  <div class="row">
    <div id="developerchart" style="width: 50%; height: 500px;" class="col-lg-6"></div>
    <div id="playedchart" style="width: 50%; height: 500px;" class="col-lg-6"></div>
  </div>
</div>