<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">8-Bit Bucketlist</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsed">
      <ul class="nav navbar-nav">
        <li class="<%= "active" if current_page?(pages_index_path) %>"><%= link_to "Home", pages_index_path %></li>
        <% if user_signed_in? %>
          <li class="<%= "active" if current_page?(gamelist_path)%>"><%= link_to "My Games", gamelist_path %></li>
        <% end %>
        <li class="<%= "active" if current_page?(stats_path)%>"><%= link_to "Site Stats", stats_path %></li>
      </ul>
      <%= form_tag search_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :query, params[:query], :class => "form-control" %>
        </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i>&nbsp;<%= current_user.username %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile/Stats", profile_path %></li>
              <li><%= link_to "Settings", settings_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up/in", signin_up_path %></li>
<!--
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
-->
        <% end %>
      </ul>
    </div>
  </div>
</nav>
